process.yml
resource.syso
versioninfo.json

# Configuration
/*.toml
/*.conf

# Editors
.DS_Store
/.idea
/.vscode

# Build Artifacts
/build
/telegraf
/telegraf.exe
/telegraf.gz
/vendor

# Debian Build Artifacts
*.buildinfo
*.changes
*.deb

# Debian Build
/packages/debian/.debhelper
/packages/debian/changelog
/packages/debian/debhelper-build-stamp
/packages/debian/files
/packages/debian/telegraf.substvars
/packages/deiban/telegraf/
